@model  EMAAR.Emaarcommunities.Feature.Listing.Models.MediacenterViewmodel
@using Glass.Mapper.Sc.Web.Mvc
@using EMAAR.Emaarcommunities.Foundation.SitecoreExtensions
@using EMAAR.Emaarcommunities.Foundation.SitecoreExtensions.Settings
@using EMAAR.Emaarcommunities.Foundation.Search.Helpers

@{var options = Sitecore.Links.LinkManager.GetDefaultUrlOptions();
    options.AlwaysIncludeServerUrl = true;
    options.SiteResolving = true;
}
<div class="media-section">
    <div class="section-header">
        <h1 class="heading"> @Html.Glass().Editable(Model.Mediacenter, x => x.Title)</h1>
        <p> @Html.Glass().Editable(Model.Mediacenter, x => x.Summary)</p>
    </div>
    <!--Start News Items-->
    @if (Model.NewsItems != null && Model.NewsItems.results != null &&
         Model.NewsItems.results.results != null && Model.NewsItems.results.results.Any())
    {
        <div class="media-header">
            <h3 class="heading">     @Sitecore.Globalization.Translate.Text(CommonConstants.News)</h3>
            <a href="@(Model.NewsListingPageItem !=null?Sitecore.Links.LinkManager.GetItemUrl(Model.NewsListingPageItem, options):String.Empty)" class="link">
                @Sitecore.Globalization.Translate.Text(CommonConstants.ViewAll)
                <i>
                    <img src="~/Assets/Project/Emaarcommunities/images/icon/btn-arrow.svg" alt="arrow">
                </i>
            </a>
        </div>
        <div class="row listingygrid">

            @foreach (var albumDetails in Model.NewsItems.results.results)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="news-item">
                        <a href="@albumDetails.pageUrl" class="news-item-link">
                            <div class="imgholder">
                                <span class="date">@albumDetails.date</span>
                                <img src="@albumDetails.thumbnailurl" alt="Downloads-thumbnail" class="img">
                            </div>
                            <div class="title">@albumDetails.title</div>
                        </a>
                    </div>
                </div>

            }

        </div>
    }
    <!--End News Items-->
    <!--Start Events Items-->
    @if (Model.EventsItems != null && Model.EventsItems.results != null &&
         Model.EventsItems.results.results != null && Model.EventsItems.results.results.Any())
    {
        <div class="media-header">
            <h3 class="heading">@Sitecore.Globalization.Translate.Text(CommonConstants.Events)</h3>
            <a href="@(Model.EventsListingPageItem !=null?Sitecore.Links.LinkManager.GetItemUrl(Model.EventsListingPageItem, options):String.Empty)" class="link">
                @Sitecore.Globalization.Translate.Text(CommonConstants.ViewAll)
                <i>
                    <img src="~/Assets/Project/Emaarcommunities/images/icon/btn-arrow.svg" alt="arrow">
                </i>
            </a>
        </div>
        <div class="media-event">

            @foreach (var albumDetails in Model.EventsItems.results.results)
            {
                <div class="event">
                    @if (!String.IsNullOrEmpty(albumDetails.pageUrl))
                    {
                        <a href="@albumDetails.pageUrl" class="event-item">
                            <div class="datesec">
                                <span class="date">@albumDetails.date</span>
                                <span class="day">@albumDetails.month</span>
                            </div>

                            <div class="descSec">
                                <p class="title">@albumDetails.title</p>
                            </div>
                        </a>
                    }
                    else
                    {
                        <a class="event-item">
                            <div class="datesec">
                                <span class="date">@albumDetails.date</span>
                                <span class="day">@albumDetails.month</span>
                            </div>
                            <div class="descSec">
                                <p class="title">@albumDetails.title</p>
                            </div>
                        </a>
                    }

                </div>
            }


        </div>
    }
    <!--End Events Items-->
    <!--Start Downloads Items-->
    @if (Model.DownloadsItems != null && Model.DownloadsItems.results != null &&
    Model.DownloadsItems.results.results != null && Model.DownloadsItems.results.results.Any())
    {
        <div class="media-header">
            <h3 class="heading">@Sitecore.Globalization.Translate.Text(CommonConstants.Downloads)</h3>
            <a href="@(Model.DownloadPageItem != null ? Sitecore.Links.LinkManager.GetItemUrl(Model.DownloadPageItem, options) : String.Empty)" class="link">
                @Sitecore.Globalization.Translate.Text(CommonConstants.ViewAll)
                <i>
                    <img src="~/Assets/Project/Emaarcommunities/images/icon/btn-arrow.svg" alt="arrow">
                </i>
            </a>
        </div>
        <div class="row listingygrid">

            @foreach (var albumDetails in Model.DownloadsItems.results.results)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="download-item">
                        <div class="imgholder">
                            <span class="pdf"><img src="~/Assets/Project/Emaarcommunities/images/icon/Pdf.svg" alt="pdf icon"></span>
                            <img src="@albumDetails.thumbnailurl" alt="Downloads-thumbnail"
                                 class="img">
                            <div class="hoverHolder">
                                <a href="@albumDetails.pageUrl" class="link">
                                    <i class="icon">
                                        <img src="~/Assets/Project/Emaarcommunities/images/icon/download.svg" class="svg"
                                             alt="download icon">
                                    </i>
                                    <div>@Sitecore.Globalization.Translate.Text(CommonConstants.Download)</div>
                                </a>
                                <a href="@albumDetails.externalURL" target="_blank" class="link">
                                    <i class="icon">
                                        <img src="~/Assets/Project/Emaarcommunities/images/icon/external.svg" class="svg"
                                             alt="external icon">
                                    </i>
                                    <div>@Sitecore.Globalization.Translate.Text(CommonConstants.ReadOnline)</div>
                                </a>
                            </div>
                        </div>
                        <div class="title">@albumDetails.title</div>
                    </div>
                </div>
            }


        </div>
    }
    <!--End Downloads Items-->
    <!--Start Image Albums Items-->
    @if (Model.ImageAlbumItems != null && Model.ImageAlbumItems.results != null &&
               Model.ImageAlbumItems.results.results != null && Model.ImageAlbumItems.results.results.Any())
    {
        <div class="media-header">
            <h3 class="heading">@Sitecore.Globalization.Translate.Text(CommonConstants.ImageGallery)</h3>
            <a href="@(Model.ImageGalleryItem != null ? Sitecore.Links.LinkManager.GetItemUrl(Model.ImageGalleryItem, options) : String.Empty)" class="link">
                @Sitecore.Globalization.Translate.Text(CommonConstants.ViewAll)
                <i>
                    <img src="~/Assets/Project/Emaarcommunities/images/icon/btn-arrow.svg" alt="arrow">
                </i>
            </a>
        </div>
        <div class="row listingygrid">

            @foreach (var albumDetails in Model.ImageAlbumItems.results.results)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">

                        <!--Todo: Advanced image field-->
                        <a href="@(Model.IsImageAlbum == true ? albumDetails.imageUrl : albumDetails.pageUrl)" rel="1"
                           class="fancyimages gallery-item-link"
                           title="@albumDetails.title">
                            <img src="@albumDetails.thumbnailurl" alt="gallery1" class="img">
                            <div class="title">@albumDetails.title</div>
                        </a>

                    </div>
                </div>

            }


        </div>
    }
    <!--End Image Albums Items-->
    <!--Start Video Albums Items-->
    @if (Model.VideoAlbumItems != null && Model.VideoAlbumItems.results != null &&
            Model.VideoAlbumItems.results.results != null && Model.VideoAlbumItems.results.results.Any())
    {
        <div class="media-header">
            <h3 class="heading">@Sitecore.Globalization.Translate.Text(CommonConstants.VideoGallery)</h3>
            <a href="@(Model.VideoGalleryItem != null ? Sitecore.Links.LinkManager.GetItemUrl(Model.VideoGalleryItem, options) : String.Empty)" class="link">
                @Sitecore.Globalization.Translate.Text(CommonConstants.ViewAll)
                <i>
                    <img src="~/Assets/Project/Emaarcommunities/images/icon/btn-arrow.svg" alt="arrow">
                </i>
            </a>
        </div>
        <div class="row listingygrid">


            @foreach (var albumDetails in Model.VideoAlbumItems.results.results)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="@albumDetails.pageUrl"
                           class="@( Model.IsVideoAlbum == true ? "fancybox.iframe gallery-item-link various" : "fancyimages gallery-item-link")">
                            <img src="@albumDetails.thumbnailurl" alt="video" class="img">
                            @{ if (Model.IsVideoAlbum)
                                {
                                    <img src="~/Assets/Project/Emaarcommunities/images/icon/play-button.svg" alt="playicon" class="playicon">
                                }
                            }
                            <div class="title">@albumDetails.title</div>
                        </a>

                    </div>
                </div>
            }
        </div>
    }
    <!--End Video Albums Items-->
</div>

